body {
  background-color: #ffffff;
  color: #0404DE;
  font-size: 16px;
  line-height: 2.0;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

/* nav links */
a {
  text-decoration: none;
}

/* I wasn't sure if these brackets needed to be on separate lines like the other code, but I copied the checkpoint version :) */
a:link { color: #0070BB; }
a:visited { color: #23C0D4; }
a:hover { color: #ffffff; }
a:active { color: #0070BD; }

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

/* main title */
h1 {
  font-size: 3em;
}

/* title intro */
h3 {
  font-size: 1.3em;
  line-height: 1.6;
}

.author {
  font-size: 1.2em;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 20px;
}

/* article text */
p {
  padding-bottom: 15px;
}
